.add-transaction-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 15px;
}

.input-item {
    display: flex;
    flex-direction: column;
    min-width: 180px;
    flex: 1;
}

.input-field {
    color: #f8fafc;
    background-color: #1e293b;
    padding: 8px;
    border: 1px solid #5b6574;
    margin-top: 5px;
    border-radius: 4px;
}


input[type="submit"] {
    display: block;
    background-color: #3b82f6;
    color: white;
    padding: 9px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-label {
    margin-top: 10px;
    color: #94a3b8;
}